html{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #c5dd73;
}
canvas {
	border-radius: 5px;
	box-shadow: 5px 0 5px #092f0a, 0 5px 5px #092f0a, -5px 0 5px #092f0a, 0 -5px 5px #092f0a;
}
.gameField, .gameName {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.gameName {
	align-items: flex-end;
	margin-bottom: 20px;
	margin-top: -20px;
	pointer-events: none;
	user-select: none;
}
.gameName img {
	height: 100px;
}
.gameName span {
	color: #77E588;
	font-size: 75px;
	font-style: oblique;
	letter-spacing: 10px;
	text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}
.description {
	display: flex;
	align-items: flex-start;
	margin-left: 10px;
	width: 0;
}
.description img {
	width: 300px;
	filter: invert(.3);
}
.controlField {
	display: none;
	grid-template-areas: 
	". . key_pause"
	". key_up ."
	"key_left key_down key_right";
	margin: 25px;
}
.key_up {
	grid-area: key_up;
}
.key_left {
	grid-area: key_left;
}
.key_down {
	grid-area: key_down;
}
.key_right {
	grid-area: key_right;
}
.key_pause {
	grid-area: key_pause;
}
.controlField button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	margin: 15px;
	padding: 10px;
	border-radius: 35px;
	border: 5px solid #333;
	width: max-content;
}
.controlField img {
	height: 125px;
	pointer-events: none;
	user-select: none;
	filter: invert(.3);
}
.key_pause img {
	width: 75px;
	height: 75px;
}